-title "New Household"
%h1 Create a new Household or Join an existing one
%small In Villages, every user is part of a household.  Please enter the name that your household is commonly known by, or select to join and exsisting household
= render :partial => 'form'
