- title "Household"

%p
  %strong Name:
  =h @household.name
  %strong Credits:
  =h @household.credits

%p
  = link_to "Edit", edit_members_household_path(@household)
  |
  = link_to "Destroy", members_household_path(@household), :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", members_households_path
