- title "Children"

%p= link_to "<span class='user icon'></span>Add a new child", new_members_child_path, :class => 'pill button'

#child-container
  -for child in @children
    .child_view
      .top
        %h2=link_to "#{child}", members_child_path(child)
      .left
        .info
          Birthdate:
          =h child.date_of_birth.to_s(:long)
        .info
          Diet Restrictions:
          =h child.dietary_restrictions
        .info
          Allergies:
          =h child.allergies
        .info
          Medications:
          =h child.medications
        .info
          Other Notes:
          =h child.notes
        %p
          = link_to '<span class="pen icon"></span>Edit Child', edit_members_child_path(child), :class => 'pill button'
          = link_to '<span class="cross icon"></span>Remove Child', members_child_path(child), :confirm => 'Are you sure?', :method => :delete, :class => 'pill button negative'
