- title "New Child"

%h2 Add children to your household

#profile_notice
  %h3 Step 4 of 5
  = "When you created your household, you said that you have #{pluralize(current_user.household.num_children, 'child')}."

= render :partial => 'form'

%p= link_to "View all your children", members_children_path

