- title "New Children"

%h2 Add new children to your household
- for children in (current_user.household.credits / 2)
  = render :partial => 'form'

%p= link_to "Back to Your Children", members_children_path

