- title "Child"

%p
  %strong First Name:
  =h @child.first_name
%p
  %strong Last Name:
  =h @child.last_name
%p
  %strong Date Of Birth:
  =h @child.date_of_birth
%p
  %strong Dietary Restrictions:
  =h @child.dietary_restrictions
%p
  %strong Allergies:
  =h @child.allergies
%p
  %strong Medications:
  =h @child.medications
%p
  %strong Notes:
  =h @child.notes

%p
  = link_to "Edit this Child", edit_members_child_path(@child)
  = link_to "Remove this Child", members_child_path(@child), :confirm => 'Are you sure?', :method => :delete
  = link_to "View All Your Children", members_children_path
