$primary_color: #aaffaa
$errorBorder: #cc6666
$noticeBorder: #66cc66
$linkColor: #39f

body
  background-color: #fff
  font-family: Verdana, Helvetica, Arial
  font-size: 14px
  margin: 0 !important

a
  color: $linkColor
  text-decoration: none
  &:hover
    color: red
  img
    border: none

.clear
  clear: both
  height: 0
  overflow: hidden
    
#masthead
  font-family: 'Rokkitt', serif
  padding: 0 !important
  background: #c7e3ff
  position: fixed
  width: 100%
  top: 0
  border-bottom: 1px solid black
  -webkit-box-shadow: 0 0 12px #888
  -moz-box-shadow: 0 0 12px #888
  h1
    float: left
    width: 30%
    padding: 0 !important
    margin: .4em
    font-size: 4em
  #userbar
    float: right
    width: 60%
    font-size: 1.5em
    margin: 1em 0 1em 0
    p
      float: right
      display: inline
      margin-right: 1em
  .menubar
    list-style-type: none
    float: left
    display: inline !important
    li
      display: inline
      float: left
      margin-right: 1em
  #clear
    clear: both

#container
  width: 75%
  margin: 100px auto 0 auto
  background: white
  z-index: -1 !important
  position: relative
  #content
    padding: 20px 40px

#flash_notice, #flash_error
  padding: 5px 8px
  margin: 10px 0

#flash_notice
  background-color: #ccffcc
  border: solid 1px $noticeBorder

#flash_error
  background-color: #ffcccc
  border: solid 1px $errorBorder

.fieldWithErrors
  display: inline

#errorExplanation
  width: 400px
  border: 2px solid #cf0000
  padding: 0
  padding-bottom: 12px
  margin-bottom: 20px
  background-color: #f0f0f0
  h2
    text-align: left
    padding: 5px 5px 5px 15px
    margin: 0
    font-weight: bold
    font-size: 12px
    background-color: #cc0000
    color: white
  p
    color: #333333
    margin-bottom: 0
    padding: 8px
  ul
    margin: 2px 24px
    li
      font-size: 12px
      list-style: disc

#main
  height: 100px
  background-color: white
