$primary_color: #aaffaa
$errorBorder: #cc6666
$noticeBorder: #66cc66
/*$linkColor: #39f*/
$linkColor: #C4D7A4
$mastheadBG: #464F3F
$lightGrey: #eee
$darkGrey: #ccc

body
  background-color: #fff
  font-family: Verdana, Helvetica, Arial
  font-size: 14px
  margin: 0 !important

a
  color: $linkColor
  text-decoration: none
  &:hover
    color: #E1E6B9
  img
    border: none

.clear
  clear: both
  height: 0
  overflow: hidden

#masthead
  font-family: 'Rokkitt', serif
  padding: 0 !important
  /*background: #c7e3ff*/
  background: $mastheadBG
  color: white
  position: fixed
  top: 0 !important
  width: 100%
  top: 0
  z-index: 10
  border-bottom: 1px solid black
  -webkit-box-shadow: 0 0 12px #888
  -moz-box-shadow: 0 0 12px #888
  #search
    float: right
    margin-right: 10px
    input[type="text"]
      float: left
      padding: .2em .5em
      -moz-border-radius: 1em
      -webkit-border-radius: 1em
      border-radius: 1em
      color: grey
      &:focus
        outline: none !important
        color: black
    input[type="submit"]
      display: none
  h1
    float: left
    width: 30%
    padding: 0 !important
    margin: .4em
    font-size: 4em
  #login
    float: right
    margin: 10px 10px 0px 0px
  #userbar
    float: right
    /*width: 60%*/
    font-size: 1.5em
    margin: 1em 0 1em 0
    p
      float: right
      display: inline
      margin-right: 1em
  .menubar
    margin: 1.9em 0 0 0
    list-style-type: none
    font-size: 1.5em
    float: right
    display: inline !important
    li
      display: inline
      /*float: left*/
      margin-right: 1em
  #clear
    clear: both

#top
  width: 100%
  #button
    float: left
    width: 40%
  #your-requests
    float: right
    width: 40%
    text-align: right
    a
      background: none
      border: none
      &:hover
        text-decoration: underline

#container
  width: 98%
  margin: 100px auto 0 auto
  background: white
  position: relative
  a
    color: #375D38
  #content
    padding: 20px 40px
    #video
      margin: 20px auto 0px auto
      width: 600px
    #left-column
      width: 20%
      float: left
      #photo img
        width: 100%
        border: 1px solid
        margin: 10px auto 0px auto
      #info
        margin: 10px 10px 0px 10px
        .title
          font-size: 1.1em
          text-decoration: underline
        .child
          a
            background: none
            border: none
            &:hover
              color: #999
              text-decoration: underline
    #right-column
      width: 75%
      float: right
      padding: 0px
      #top
        width: 97%
        height: 100px
        padding: 10px 0 10px 0
        #household-info
          width: 70%
          float: left
          h1
            margin: 0px
        #buttons
          text-align: right
          float: right
          margin: 10px 0 0 0
      #content
        width: 98%
        font-weight: bold
        padding: 0px
        #no-requests
          text-align: center
          font-style: oblique
          font-weight: normal
          border: 1px solid grey
          color: grey
          -moz-border-radius: .5em
          -webkit-border-radius: .5em
          border-radius: .5em
          margin: 2em 0
          padding: 1em 0
        .small-title
          font-size: 1.3em
        #requests
          width: 100%
          height: 500px
          overflow: none
          margin-top: 10px
        #no-requests
          font-size: 1.2em
    #form
      a
        color: #375D38
  a, input[type="submit"], select
    border: 1px solid #aaa
    background: $lightGrey
    color: $mastheadBG
    padding: .2em
    -moz-border-radius: .3em
    -webkit-border-radius: .3em
    /* fallback/image non-cover color */
    /* fallback image */
    background-image: url(images/fallback-gradient.png)
    /* Firefox 3.6+ */
    background-image: -moz-linear-gradient($lightGrey, $darkGrey)
    /* Safari 4+, Chrome 1+ */
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($darkGrey), to($lightGrey))
    /* Safari 5.1+, Chrome 10+ */
    background-image: -webkit-linear-gradient($lightGrey, $darkGrey)
    /* Opera 11.10+ */
    background-image: -o-linear-gradient($lightGrey, $darkGrey)
    &:hover
      border: 1px solid #777

.flash.success
  margin: .5em 0 .5em 0
  background: #F0FFF0
  color: #060
  border: 1px solid #060
  text-align: center
  -moz-border-radius: 5px
  -webkit-border-radius: 5px

.flash.error
  margin: .5em 0 .5em 0
  background: #FFF0F0
  color: #900
  border: 1px solid #900
  text-align: center
  -moz-border-radius: 5px
  -webkit-border-radius: 5px


.fieldWithErrors
  display: inline

#errorExplanation
  width: 400px
  border: 2px solid #cf0000
  padding: 0
  padding-bottom: 12px
  margin-bottom: 20px
  background-color: #f0f0f0
  h2
    text-align: left
    padding: 5px 5px 5px 15px
    margin: 0
    font-weight: bold
    font-size: 12px
    background-color: #cc0000
    color: white
  p
    color: #333333
    margin-bottom: 0
    padding: 8px
  ul
    margin: 2px 24px
    li
      font-size: 12px
      list-style: disc

/* Requests styles */
#request-container
  width: 70%
  padding: .5em
  float: left
.request
  border-bottom: 3px double $lightGrey
  margin-bottom: 1em
  padding: .5em
  padding-right: 0 !important
  padding-bottom: 1.5em !important
  width: 100%
  img
    width: 48px
    height: 48px
    margin: .5em
    float: left
  .no-volunteer
    color: #AAA
    margin-left: 10px
    font-size: 1.1em
  .name
    font-size: 1.5em
    margin-bottom: 10px
    a
      background: none !important
      border: none !important
      &:hover
        text-decoration: underline
  .household
    height: 30px
    padding: .5em
    width: 40%
    .name
      float: left
    .buttons
      float: right
      
  .left
    float: left
    h2
      font-size: 1.8em
      margin: 0 !important
      padding: 0 !important
      a
        padding: inherit
        margin: inherit
        padding: 0
        margin: 0 0 0 -.2em 
        background: none !important
        border: 0 !important
        &:hover
          text-decoration: underline
    .name
      float: left
    .household
      clear: both
      font-size: 1.3em
  .right
    margin: 5px 0
    float: left
    margin-left: 1em
    color: #555
    .cost
      font-style: oblique
      font
        font-weight: bold
  .tools
    float: right
    z-index: 2
    .volunteer-button
      float: right
      margin-top: 10px
    .delete
      text-align: center
      float: right
      width: 20px
      height: 20px
      font-size: 1.1em
      z-index: 5
      span
        display: none
      a
        background: none !important
        border: none !important
        &:hover
          //text-decoration: underline
          background: #CCC !important
    .subnav
      ul
        list-style-type: none
        margin-top: 20px
        display: none
        position: absolute
        z-index: 4
        background: $lightGrey
        border: 1px solid
        -moz-border-radius: 10px
        -webkit-border-radius: 10px
        -moz-box-shadow: 2px 2px 4px #555
        a
          background: none !important
          border: none !important
          &:hover
            //text-decoration: underline
            //background: #DDD !important
        li
          margin-right: 30px
          padding: .2em
          a
            &:hover
              background: #DDD !important
        // width: 200px
        // border: 1px solid
        // z-index: 3
        //position: absolute
    //position: relative
    //bottom: -30px
    //right: 0px
  .clear
    clear: both

#commit-container
  width: 25%
  padding: .5em
  float: right
  text-align: right
  font-weight: bold
  font-size: 1.2em
  h2
    font-size: 1.1em
  #commitments
    #no-commitment
      font-size: .8em
      color: #AAA
      padding: .5em
    .confirmed-request
      font-weight: none
      font-size: .7em
      border-bottom: 3px double $lightGrey
      margin-bottom: 1em
      padding: .5em
      text-align: left
      .link
        text-align: right
        margin-top: 5px
        a
          border: none
          background: none
          &:hover
            text-decoration: underline
      .delete-link
        float: right
        a
          background: none
          border: none
          &:hover
            text-decoration: underline
  #pending
    #no-pending
      font-size: .8em
      color: #AAA
      padding: .5em
    .pending-request
      font-weight: none
      font-size: .7em
      border-bottom: 3px double $lightGrey
      margin-bottom: 1em
      padding: .5em
      text-align: left
      .link
        text-align: right
        margin-top: 5px
        a
          border: none
          background: none
          &:hover
            text-decoration: underline
      .delete-link
        float: right
        a
          background: none
          border: none
          &:hover
            text-decoration: underline

input[type="text"], input[type="password"]
  border: 1px solid $mastheadBG
  padding: .2em

#main
  height: 100px
  background-color: white

#video
  width: 425px
  margin: 0px auto 0px auto

.center
  text-align: center

.result
  border-bottom: 3px double $lightGrey
  width: 100%
  margin-bottom: 1em
  padding: .5em
  clear: both
  height: 100px
  img
    width: 48px
    height: 48px
    margin: .5em
    float: left
  .info
    width: 60%
    float: left
    padding: inherit
    margin: inherit
    .name
      font-size: 1.2em
      font-weight: bold
    .attributes
      margin-bottom: 20px
      .small-title
        font-size: 1.2em
        font-weight: bold
  .button
    float: right
    margin-top: 20px

.neighbor
  border-bottom: 3px double $darkGrey
  img
    float: left
  h2
    float: left
  a
    border: 0px !important
    background: none !important
    #remove
      float: right

#no-results
  color: #AAA
  font-size: 1.2em
  font-weight: bold
  margin-left: 40px

#num-results
  margin-left: 40px
    
#hidden-requests-container
  width: 70%
  border: 1px solid
  .title
    text-align: center

