/*$linkColor: #39f */
body {
  background-color: white;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  margin: 0 !important; }

a {
  color: #c4d7a4;
  text-decoration: none; }
  a:hover {
    color: #e1e6b9; }
  a img {
    border: none; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

#masthead {
  font-family: "Rokkitt", serif;
  padding: 0 !important;
  /*background: #c7e3ff */
  background: #464f3f;
  color: white;
  position: fixed;
  top: 0 !important;
  width: 100%;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid black;
  -webkit-box-shadow: 0 0 12px #888888;
  -moz-box-shadow: 0 0 12px #888888; }
  #masthead h1 {
    float: left;
    width: 30%;
    padding: 0 !important;
    margin: 0.4em;
    font-size: 4em; }
  #masthead #userbar {
    float: right;
    /*width: 60% */
    font-size: 1.5em;
    margin: 1em 0 1em 0; }
    #masthead #userbar p {
      float: right;
      display: inline;
      margin-right: 1em; }
  #masthead .menubar {
    margin: 1.9em 0 0 0;
    list-style-type: none;
    font-size: 1.5em;
    float: right;
    display: inline !important; }
    #masthead .menubar li {
      display: inline;
      /*float: left */
      margin-right: 1em; }
  #masthead #clear {
    clear: both; }

#container {
  width: 98%;
  margin: 100px auto 0 auto;
  background: white;
  position: relative; }
  #container a {
    color: #375d38; }
  #container #content {
    padding: 20px 40px; }
    #container #content #left-column {
      width: 300px;
      float: left; }
      #container #content #left-column #photo {
        width: 280px;
        height: 280px;
        border: 1px solid;
        margin: 10px auto 0px auto; }
      #container #content #left-column #info {
        margin: 10px 10px 0px 10px; }
        #container #content #left-column #info .title {
          font-weight: bold;
          font-size: 1em; }
    #container #content #right-column {
      width: 800px;
      float: right;
      padding: 0px; }
      #container #content #right-column #top {
        width: 97%;
        height: 100px;
        padding: 10px; }
        #container #content #right-column #top #household-info {
          width: 70%;
          float: left; }
          #container #content #right-column #top #household-info h1 {
            margin: 0px; }
        #container #content #right-column #top #buttons {
          float: right;
          margin: 10px 10px 0px 0px;
          width: 28%; }
      #container #content #right-column #content {
        width: 98%;
        font-weight: bold;
        padding: 0px; }
        #container #content #right-column #content #requests {
          width: 100%;
          border: 1px solid;
          height: 500px;
          overflow: auto;
          margin-top: 10px; }
    #container #content a {
      border: 1px solid #464f3f;
      background: #dddddd;
      color: #464f3f;
      padding: 0.2em;
      -moz-border-radius: 0.3em;
      -webkit-border-radius: 0.3em;
      /* fallback/image non-cover color */
      /* fallback image */
      background-image: url(images/fallback-gradient.png);
      /* Firefox 3.6+ */
      background-image: -moz-linear-gradient(#dddddd, #aaaaaa);
      /* Safari 4+, Chrome 1+ */
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#aaaaaa), to(#dddddd));
      /* Safari 5.1+, Chrome 10+ */
      background-image: -webkit-linear-gradient(#dddddd, #aaaaaa);
      /* Opera 11.10+ */
      background-image: -o-linear-gradient(#dddddd, #aaaaaa); }
      #container #content a:hover {
        border: 1px solid #aaaaaa; }
    #container #content #form a {
      color: #375d38; }

/*#flash_notice, #flash_error */
/*  padding: 5px 8px */
/*  margin: 10px 0 */
/*#flash_notice */
/*  background-color: #ccffcc */
/*  border: solid 1px $noticeBorder */
/*#flash_error */
/*  background-color: #ffcccc */
/*  border: solid 1px $errorBorder */
.flash.success {
  background: #f0fff0;
  color: #006600;
  border: 1px solid #006600;
  text-align: center;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }

.flash.error {
  background: #fff0f0;
  color: #990000;
  border: 1px solid #990000;
  text-align: center;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }

.fieldWithErrors {
  display: inline; }

#errorExplanation {
  width: 400px;
  border: 2px solid #cf0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #errorExplanation h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    background-color: #cc0000;
    color: white; }
  #errorExplanation p {
    color: #333333;
    margin-bottom: 0;
    padding: 8px; }
  #errorExplanation ul {
    margin: 2px 24px; }
    #errorExplanation ul li {
      font-size: 12px;
      list-style: disc; }

/* Requests styles */
.request {
  border: 1px solid #464f3f;
  margin-bottom: 1em; }
  .request .tools {
    float: right;
    margin: 0.5em; }
  .request .clear {
    clear: both; }
  .request img {
    width: 48px;
    height: 48px;
    margin: 0.5em;
    float: left; }

#main {
  height: 100px;
  background-color: white; }

#video {
  width: 425px;
  margin: 0px auto 0px auto; }

.center {
  text-align: center; }
