/*$linkColor: #39f */
body {
  background-color: white;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  margin: 0 !important; }

a {
  color: #c4d7a4;
  text-decoration: none; }
  a:hover {
    color: #e1e6b9; }
  a img {
    border: none; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

#masthead {
  font-family: "Rokkitt", serif;
  padding: 0 !important;
  /*background: #c7e3ff */
  background: #464f3f;
  position: fixed;
  top: 0 !important;
  width: 100%;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid black;
  -webkit-box-shadow: 0 0 12px #888888;
  -moz-box-shadow: 0 0 12px #888888; }
  #masthead h1 {
    float: left;
    width: 30%;
    padding: 0 !important;
    margin: 0.4em;
    font-size: 4em; }
  #masthead #userbar {
    float: right;
    /*width: 60% */
    font-size: 1.5em;
    margin: 1em 20px 1em 0; }
    #masthead #userbar p {
      float: right;
      display: inline;
      margin-right: 1em; }
  #masthead .menubar {
    list-style-type: none;
    font-size: 1.5em;
    float: left;
    display: inline !important; }
    #masthead .menubar li {
      display: inline;
      /*float: left */
      margin-right: 1em; }
  #masthead #clear {
    clear: both; }

#container {
  width: 75%;
  margin: 100px auto 0 auto;
  background: white;
  position: relative; }
  #container #content {
    padding: 20px 40px; }
    #container #content #form a {
      color: #375d38; }

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0; }

#flash_notice {
  background-color: #ccffcc;
  border: solid 1px #66cc66; }

#flash_error {
  background-color: #ffcccc;
  border: solid 1px #cc6666; }

.fieldWithErrors {
  display: inline; }

#errorExplanation {
  width: 400px;
  border: 2px solid #cf0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #errorExplanation h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    background-color: #cc0000;
    color: white; }
  #errorExplanation p {
    color: #333333;
    margin-bottom: 0;
    padding: 8px; }
  #errorExplanation ul {
    margin: 2px 24px; }
    #errorExplanation ul li {
      font-size: 12px;
      list-style: disc; }

#main {
  height: 100px;
  background-color: white; }

#video {
  width: 425px;
  margin: 0px auto 0px auto; }

.center {
  text-align: center; }
