/*$linkColor: #39f */
html, body {
  height: 92%; }

body {
  background: #dddddd;
  background: -moz-linear-gradient(left, #dddddd 0%, white 50%, #dddddd 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #dddddd), color-stop(50%, white), color-stop(100%, #dddddd));
  background: -webkit-linear-gradient(left, #dddddd 0%, white 50%, #dddddd 100%);
  background: -o-linear-gradient(left, #dddddd 0%, white 50%, #dddddd 100%);
  background: -ms-linear-gradient(left, #dddddd 0%, white 50%, #dddddd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#dddddd',GradientType=1 );
  background: linear-gradient(left, #dddddd 0%, #ffffff 50%, #dddddd 100%);
  /*font-family: Verdana, Helvetica, Arial */
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-size: 14px;
  margin: 0 !important; }

a {
  color: #f5eedb;
  text-decoration: none; }
  a:hover {
    color: white; }
  a img {
    border: none; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

#wrapper {
  min-height: 100%;
  height: auto !important;
  margin: 0 auto -70px;
  background: #f5eedb; }

#masthead {
  min-height: 100px;
  font-family: "Rokkitt", serif;
  padding: 0 !important;
  background: #878c6d;
  background: -moz-linear-gradient(top, #878c6d 0%, #63674a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #878c6d), color-stop(100%, #63674a));
  background: -webkit-linear-gradient(top, #878c6d 0%, #63674a 100%);
  background: -o-linear-gradient(top, #878c6d 0%, #63674a 100%);
  background: -ms-linear-gradient(top, #878c6d 0%, #63674a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#878C6D', endColorstr='#63674A',GradientType=0 );
  background: linear-gradient(top, #878c6d 0%, #63674a 100%);
  color: #eeeeee;
  position: fixed;
  top: 0 !important;
  width: 100%;
  top: 0;
  z-index: 10;
  -webkit-box-shadow: 0 0 12px #888888;
  -moz-box-shadow: 0 0 12px #888888; }
  #masthead a {
    text-shadow: 0px 2px 4px #222222; }
  #masthead #search {
    float: right;
    margin: -1px 10px 0 -10px;
    font-size: 0.8em; }
    #masthead #search input[type="text"] {
      width: 150px;
      float: left;
      padding: 0.2em 0.5em;
      -moz-border-radius: 0.9em;
      -webkit-border-radius: 0.9em;
      border-radius: 0.9em;
      color: grey; }
      #masthead #search input[type="text"]:focus {
        outline: none !important;
        color: black; }
    #masthead #search input[type="submit"] {
      display: none; }
  #masthead h1 {
    z-index: 10;
    float: left;
    width: 20%;
    padding: 0 !important;
    margin: 0.25em 0 -0.1em 0.4em;
    line-height: 1em;
    font-size: 4em;
    position: relative;
    -moz-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg); }
  #masthead h2 {
    float: left;
    z-index: -20;
    padding: 0 !important;
    margin: -5px 0 0.4em 2em;
    font-size: 0.9em;
    font-weight: 200;
    font-family: Arial;
    color: white;
    position: relative; }
  #masthead #login {
    float: right;
    margin: 10px 10px 0px 0px; }
  #masthead #logout {
    position: absolute;
    top: 10px;
    right: 40px; }
  #masthead #userbar {
    float: right;
    /*width: 60% */
    font-size: 1.4em;
    margin: 1em 0 1em 0; }
    #masthead #userbar p {
      float: right;
      display: inline;
      margin-right: 1em; }
  #masthead .menubar {
    margin: 2em 1em 0 0;
    list-style-type: none;
    font-size: 1.4em;
    float: right;
    display: inline !important; }
    #masthead .menubar li {
      display: inline;
      width: 300px;
      /*float: left */
      margin-right: 20px; }
    #masthead .menubar li#notifications {
      z-index: 15;
      width: 22px; }
      #masthead .menubar li#notifications img {
        margin-top: -10px !important;
        position: relative;
        top: 5px; }
      #masthead .menubar li#notifications .notification-list {
        list-style-type: none;
        display: none;
        width: 330px;
        padding: 0.5em;
        background: white;
        border: 1px solid black;
        position: absolute;
        right: 204px;
        z-index: 10;
        -moz-box-shadow: 2px 2px 2px black;
        -webkit-box-shadow: 2px 2px 2px black; }
        #masthead .menubar li#notifications .notification-list .notification {
          list-style-type: none;
          margin: 1em 0 1em 0;
          color: black;
          font-size: 0.8em;
          padding-bottom: 0.5em;
          border-bottom: double 3px #eeeeee; }
          #masthead .menubar li#notifications .notification-list .notification a {
            color: black; }
          #masthead .menubar li#notifications .notification-list .notification #left {
            float: left;
            width: 8%;
            padding: 0.5em; }
          #masthead .menubar li#notifications .notification-list .notification #right {
            float: right;
            width: 83%; }
            #masthead .menubar li#notifications .notification-list .notification #right a {
              color: #557711;
              text-shadow: none !important; }
          #masthead .menubar li#notifications .notification-list .notification #clear {
            clear: both; }
    #masthead .menubar li.notification {
      background: red;
      margin-left: -1.4em;
      position: relative;
      padding: 0.1em 0.3em 0;
      -moz-border-radius: 1em;
      -webkit-border-radius: 1em;
      border-radius: 1em;
      font-size: 0.7em;
      font-weight: bold;
      top: -10px; }
    #masthead .menubar li#notification-modified {
      background: red;
      margin-left: -1.4em;
      position: relative;
      padding: 1px 3px 1px 3px;
      -moz-border-radius: 0.4em;
      -webkit-border-radius: 0.4em;
      font-size: 0.75em;
      top: -10px;
      right: 8px; }
  #masthead #clear {
    clear: both; }

#push {
  height: 70px; }

#footer_container {
  clear: both; }

#footer {
  width: 100%;
  clear: both;
  color: #aaaaaa;
  padding: 10px 0 20px;
  margin-top: 20px;
  height: 25px;
  background: #dddddd;
  background: -moz-linear-gradient(left, #dddddd 0%, white 50%, #dddddd 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #dddddd), color-stop(50%, white), color-stop(100%, #dddddd));
  background: -webkit-linear-gradient(left, #dddddd 0%, white 50%, #dddddd 100%);
  background: -o-linear-gradient(left, #dddddd 0%, white 50%, #dddddd 100%);
  background: -ms-linear-gradient(left, #dddddd 0%, white 50%, #dddddd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#dddddd',GradientType=1 );
  background: linear-gradient(left, #dddddd 0%, #ffffff 50%, #dddddd 100%);
  box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  #footer ul {
    margin: 10px auto;
    list-style-type: none; }
    #footer ul li {
      float: left;
      margin-right: 0.5em; }
      #footer ul li:last-child:after {
        content: none; }
      #footer ul li:after {
        content: " | "; }
      #footer ul li a {
        color: #aaaaaa; }
  #footer:hover {
    box-shadow: none;
    color: black; }
    #footer:hover a {
      color: #555555;
      text-decoration: none; }
      #footer:hover a:hover {
        text-decoration: underline; }
  #footer span {
    float: right;
    margin-right: 1em; }

#left-request {
  float: left;
  width: 60%;
  padding: 0 3em 1em 1em;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }
  #left-request .float {
    float: right;
    margin-bottom: 10px; }
    #left-request .float a {
      color: #f5eedb; }

#right-commit {
  float: right;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background: #878c6d;
  width: 27%;
  padding: 1em;
  padding-right: 2em; }
  #right-commit #your-requests {
    background: white;
    width: 100%;
    text-align: right;
    border: 1px solid #878c6d;
    margin-bottom: 20px;
    padding-right: 1em;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; }
    #right-commit #your-requests a {
      background: none;
      border: none; }
      #right-commit #your-requests a:hover {
        text-decoration: underline; }
  #right-commit #notifications {
    padding: 3px;
    opacity: 0.9; }
    #right-commit #notifications:hover {
      opacity: 1; }
  #right-commit #notifications_bold {
    opacity: 0.9;
    padding: 3px;
    background-color: #ffeeaa;
    border: solid thin #ffdd00; }
    #right-commit #notifications_bold:hover {
      opacity: 1; }

#titles {
  width: 61.5%;
  padding: 1em;
  padding-top: 0px; }
  #titles #stream-title {
    font-size: 2.2em;
    margin-bottom: 20px;
    padding: 0;
    float: left; }
  #titles #buttons {
    float: right;
    position: relative;
    top: 8px; }
    #titles #buttons .float {
      float: right; }
    #titles #buttons #create-new {
      float: right;
      margin-left: 20px;
      position: relative;
      top: -5px; }
  #titles .clear {
    clear: both; }

/* Splash Screen
 */
#container {
  min-height: 80%; }
  #container #tag_line {
    text-align: center;
    width: 800px;
    margin: 0 auto;
    font-size: 3em;
    padding: 10px 0; }
  #container #video {
    margin: 20px auto 0px auto;
    text-align: center;
    height: 340px;
    width: 600px;
    position: relative; }
    #container #video span {
      font-size: 24pt;
      position: relative;
      top: 50%; }
  #container #learn_more {
    margin: 10px auto 0px auto;
    width: 800px; }
    #container #learn_more div {
      float: left;
      width: 200px; }
      #container #learn_more div a {
        width: 180px;
        height: 135px;
        display: block;
        font-size: 20pt;
        text-shadow: white 0 0 10px;
        overflow: hidden;
        background-position: top;
        border: 0;
        padding: 0;
        line-height: 1.4em;
        /* for IE */
        filter: alpha(opacity=80);
        /* CSS3 standard */
        opacity: 0.8; }
    #container #learn_more #vision a {
      background: url("../images/vision.jpg") no-repeat; }
      #container #learn_more #vision a:hover {
        background-position: bottom; }
    #container #learn_more #security a {
      background: url("../images/security.jpg") no-repeat; }
      #container #learn_more #security a:hover {
        background-position: bottom; }
    #container #learn_more #sign_up a {
      background: url("../images/sign_up.jpg") no-repeat; }
      #container #learn_more #sign_up a:hover {
        background-position: bottom; }
    #container #learn_more #how_it_works a {
      background: url("../images/how_it_works.jpg") no-repeat; }
      #container #learn_more #how_it_works a:hover {
        background-position: bottom; }

#container {
  width: 98%;
  line-height: 150%;
  margin: 100px auto 0 auto;
  position: relative;
  padding-top: 20px; }
  #container #login {
    width: 700px;
    margin: 20px auto 20px auto;
    font-size: 1.1em; }
  #container #form_new_user {
    width: 700px;
    margin: 30px auto 0 auto;
    border: 1px solid;
    padding-bottom: 20px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; }
    #container #form_new_user #form_header {
      margin: 0 15px 20px 15px;
      border-bottom: 1px solid;
      padding: 1em 0.6em 1em 0.6em; }
      #container #form_new_user #form_header h2 {
        float: left;
        margin: 0;
        padding: 0;
        font-size: 2em; }
      #container #form_new_user #form_header .button {
        float: right; }
      #container #form_new_user #form_header font {
        font-size: 1em;
        color: darkGrey;
        position: relative;
        top: 10px;
        font-weight: normal; }
    #container #form_new_user label {
      float: left;
      text-align: right;
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
      width: 250px;
      font-size: 0.9em; }
    #container #form_new_user input[type="text"], #container #form_new_user input[type="password"] {
      float: left;
      width: 250px;
      margin-bottom: 10px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      margin-left: 15px; }
    #container #form_new_user input[type="submit"] {
      float: left;
      height: 30px;
      width: 90px;
      margin-left: 15px;
      font-size: 0.9em; }
    #container #form_new_user .clear {
      clear: both; }
  #container #form {
    width: 450px;
    font-size: 1em;
    font-weight: 100;
    margin: 30px auto 0px auto;
    border: 4px solid #cccccc;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding-bottom: 30px; }
    #container #form #form_header {
      margin: 0 10px 20px 10px;
      border-bottom: 1px solid;
      padding: 1em 0.6em 1em 0.6em; }
      #container #form #form_header h2 {
        padding: 0;
        margin: 0;
        float: left;
        font-size: 2em; }
      #container #form #form_header .button {
        float: right; }
      #container #form #form_header font {
        font-size: 1em;
        color: darkGrey;
        position: relative;
        top: 10px;
        font-weight: normal; }
    #container #form label {
      width: 150px;
      display: block;
      float: left;
      text-align: right;
      margin-bottom: 10px;
      font-weight: bold; }
    #container #form input[type="text"], #container #form input[type="password"] {
      width: 150px;
      float: left;
      margin-bottom: 10px; }
    #container #form input[type="submit"] {
      float: left;
      margin-bottom: 20px;
      height: 30px;
      width: 70px;
      font-size: 0.9em; }
  #container .clear {
    clear: both; }
  #container #profile_notice {
    text-align: center;
    width: 100%;
    margin: 0 auto 0 auto;
    background: #ffeeaa;
    color: #333333;
    padding: 0.5em;
    border: 1px solid #ffdd00; }
    #container #profile_notice strong {
      font-size: 1.3em;
      font-style: oblique; }
    #container #profile_notice h3 {
      margin: 0.2em 0;
      font-style: oblique; }
    #container #profile_notice p {
      margin: 0.5em 1em; }
  #container a {
    color: #557711; }
  #container #content {
    padding: 20px 40px; }
    #container #content #title {
      text-align: center; }
    #container #content #left-column {
      width: 21%;
      float: left;
      background: white;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      radius: 5px;
      border: 1px solid #878c6d;
      padding: 0.5em;
      margin: 0 0 30px 0; }
      #container #content #left-column img {
        max-width: 100%; }
      #container #content #left-column #photo {
        width: 100%;
        text-align: center;
        margin: -20px auto 0px auto; }
        #container #content #left-column #photo a {
          padding: 0 !important;
          border: none !important;
          background: none !important;
          outline: none; }
          #container #content #left-column #photo a #edit {
            opacity: 0;
            position: relative;
            top: 20px; }
          #container #content #left-column #photo a:hover {
            outline: none; }
            #container #content #left-column #photo a:hover #edit {
              opacity: 0.8;
              background: white;
              display: inline-block;
              text-decoration: underline;
              opacity: 0.8;
              width: 100%;
              outline: none; }
      #container #content #left-column #info {
        margin: 10px 10px 0px 10px; }
        #container #content #left-column #info .title {
          font-size: 1.1em;
          border-bottom: 1px solid #aaaaaa; }
          #container #content #left-column #info .title a {
            background: none;
            border: none; }
            #container #content #left-column #info .title a:hover {
              color: #999999; }
        #container #content #left-column #info .extern_link {
          background: none;
          border: none; }
        #container #content #left-column #info #small_link {
          text-decoration: none;
          color: #999999 !important;
          font-size: 0.8em;
          text-decoration: none !important; }
          #container #content #left-column #info #small_link:hover {
            color: #777777; }
        #container #content #left-column #info #relation {
          font-size: 0.8em; }
        #container #content #left-column #info .child a {
          background: none;
          border: none; }
          #container #content #left-column #info .child a:hover {
            color: #999999;
            text-decoration: underline; }
        #container #content #left-column #info .child .name {
          text-decoration: underline; }
        #container #content #left-column #info #add-child {
          margin: 10px 0 10px 20px; }
    #container #content #right-column {
      width: 75%;
      float: right;
      margin: 0 0 30px 0; }
      #container #content #right-column #top {
        width: 98%;
        height: 65px;
        margin-bottom: 10px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        radius: 5px;
        background: white;
        border: 1px solid #878c6d;
        padding: 1.2em; }
        #container #content #right-column #top #household-info {
          width: 100%; }
          #container #content #right-column #top #household-info strong {
            margin: 0px;
            font-size: 2em; }
          #container #content #right-column #top #household-info #title {
            float: left;
            font-size: 2em; }
          #container #content #right-column #top #household-info #button {
            float: right; }
          #container #content #right-column #top #household-info #buttons {
            text-align: right;
            width: 45%;
            float: right;
            margin: -4px 0px 0 0; }
            #container #content #right-column #top #household-info #buttons a {
              margin-right: -4px; }
      #container #content #right-column #header {
        font-size: 2em;
        padding: 0.25em 0.125em 0.25em 0.125em;
        margin-bottom: 5px; }
      #container #content #right-column #content-requests, #container #content #right-column #content-commitments {
        margin-bottom: 20px;
        width: 98%;
        font-weight: bold;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        radius: 5px;
        background: white;
        border: 1px solid #878c6d;
        padding: 0.5em 1.2em 0.5em 1.2em; }
        #container #content #right-column #content-requests #no-requests, #container #content #right-column #content-commitments #no-requests {
          text-align: center;
          font-style: oblique;
          font-weight: normal;
          border: 1px solid grey;
          color: grey;
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          border-radius: 5px;
          margin: 0.8em 0;
          padding: 1em 0; }
        #container #content #right-column #content-requests .small-title, #container #content #right-column #content-commitments .small-title {
          font-size: 1.3em; }
        #container #content #right-column #content-requests #title, #container #content #right-column #content-commitments #title {
          text-align: left; }
          #container #content #right-column #content-requests #title .small-title, #container #content #right-column #content-commitments #title .small-title {
            font-size: 1.3em;
            margin-right: 10px; }
          #container #content #right-column #content-requests #title span, #container #content #right-column #content-commitments #title span {
            background: url(/images/iconCollapseArrow.gif) no-repeat center top;
            display: inline-block;
            width: 16px;
            height: 16px;
            -moz-transform: rotate(90deg);
            o-transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
            -moz-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
            -webkit-transition: all 0.3s ease-out;
            -ms-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out; }
        #container #content #right-column #content-requests #requests, #container #content #right-column #content-commitments #requests {
          width: 100%;
          margin-top: 10px;
          padding: 2px; }
          #container #content #right-column #content-requests #requests #img, #container #content #right-column #content-commitments #requests #img {
            max-width: 8%;
            margin: 0.5em 0.5em 0.5em 0;
            float: left; }
        #container #content #right-column #content-requests #no-requests, #container #content #right-column #content-commitments #no-requests {
          font-size: 1.2em; }
    #container #content #form a {
      color: #375d38; }
  #container input[type="submit"], #container select {
    border: 1px solid #aaaaaa;
    background: #eeeeee;
    color: #878c6d;
    padding: 0.2em;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    /* fallback/image non-cover color */
    /* fallback image */
    background-image: url(images/fallback-gradient.png);
    /* Firefox 3.6+ */
    background-image: -moz-linear-gradient(#eeeeee, #cccccc);
    /* Safari 4+, Chrome 1+ */
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cccccc), to(#eeeeee));
    /* Safari 5.1+, Chrome 10+ */
    background-image: -webkit-linear-gradient(#eeeeee, #cccccc);
    /* Opera 11.10+ */
    background-image: -o-linear-gradient(#eeeeee, #cccccc); }
    #container input[type="submit"]:hover, #container select:hover {
      border: 1px solid #777777; }

label {
  display: inline;
  float: left;
  margin-right: 0.5em; }

.hint {
  float: left;
  display: inline;
  color: grey;
  font-style: oblique; }
  .hint:before {
    content: "("; }
  .hint:after {
    content: ")"; }

.flash.success {
  margin: 0.5em 0 0.5em 0;
  background: #f0fff0;
  color: #006600;
  border: 1px solid #006600;
  text-align: center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

.flash.error {
  margin: 0.5em 0 0.5em 0;
  background: #fff0f0;
  color: #990000;
  border: 1px solid #990000;
  text-align: center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

.fieldWithErrors {
  display: inline; }

#errorExplanation {
  width: 400px;
  border: 2px solid #cf0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #errorExplanation h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    background-color: #cc0000;
    color: white; }
  #errorExplanation p {
    color: #333333;
    margin-bottom: 0;
    padding: 8px; }
  #errorExplanation ul {
    margin: 2px 24px; }
    #errorExplanation ul li {
      font-size: 12px;
      list-style: disc; }

/* Requests styles
 */
.delete-link, .delete {
  float: right; }
  .delete-link a, .delete a {
    padding: 0em 0.3em 0em 0.3em;
    background: #999999 !important;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    font-size: 10pt;
    font-family: monospace;
    font-weight: bold;
    color: white !important;
    border: none; }
    .delete-link a:hover, .delete a:hover {
      background: black;
      color: white;
      -moz-box-shadow: 0 0 2px #444444;
      -webkit-box-shadow: 1px 1px 2px #444444;
      box-shadow: 0 0 2px #444444; }

#request-container {
  width: 95%;
  border: 1px solid #878c6d;
  padding: 1em;
  padding-right: 3em;
  background: white;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }
  #request-container #red {
    color: #990000; }
  #request-container #no-requests {
    font-size: 1.4em;
    font-style: italic;
    color: #aaaaaa; }

.request, .neighbor {
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 3px double #eeeeee;
  border-left: 1px solid white;
  margin: 1em 0 1em 0;
  width: 100%;
  opacity: 0.9; }
  .request img, .neighbor img {
    max-width: 8%;
    margin-right: 0.5em;
    float: left; }
  .request .no-volunteer, .neighbor .no-volunteer {
    color: #aaaaaa;
    margin-left: 10px;
    font-size: 1.1em; }
  .request .name, .neighbor .name {
    font-size: 1.5em;
    margin-bottom: 10px; }
    .request .name a, .neighbor .name a {
      background: none !important;
      border: none !important; }
      .request .name a:hover, .neighbor .name a:hover {
        text-decoration: underline; }
  .request .household, .neighbor .household {
    both: clear;
    padding: 0.5em;
    width: 98%;
    float: left; }
    .request .household .name, .neighbor .household .name {
      float: left; }
    .request .household .buttons, .neighbor .household .buttons {
      float: right; }
  .request .exit, .neighbor .exit {
    float: right; }
    .request .exit a, .neighbor .exit a {
      background: none;
      border: none; }
      .request .exit a:hover, .neighbor .exit a:hover {
        text-decoration: underline; }
  .request .left, .neighbor .left {
    float: left;
    min-width: 10%;
    max-width: 20%;
    vertical-align: bottom; }
    .request .left h2, .neighbor .left h2 {
      font-size: 1.8em;
      margin: 0 !important;
      padding: 0 !important; }
    .request .left .name, .neighbor .left .name {
      margin-left: 0.2em !important; }
      .request .left .name a, .neighbor .left .name a {
        padding: inherit;
        margin: inherit;
        padding: 0;
        margin: 0 0 0 -0.2em;
        background: none !important;
        border: 0 !important; }
        .request .left .name a:hover, .neighbor .left .name a:hover {
          text-decoration: underline; }
    .request .left .image, .neighbor .left .image {
      float: left; }
    .request .left .name, .neighbor .left .name {
      vertical-align: bottom;
      float: left; }
    .request .left .household, .neighbor .left .household {
      clear: both;
      font-size: 1.3em; }
  .request .right, .neighbor .right {
    max-width: 80%;
    min-width: 40%;
    float: left;
    margin-left: 3em;
    color: #555555;
    z-index: -5; }
    .request .right .cost, .neighbor .right .cost {
      font-style: oblique; }
      .request .right .cost font, .neighbor .right .cost font {
        font-weight: bold; }
    .request .right .title, .neighbor .right .title {
      font-style: oblique;
      font-weight: bold;
      font-size: 1.2em; }
      .request .right .title a, .neighbor .right .title a {
        border: none !important;
        background: none !important; }
        .request .right .title a:hover, .neighbor .right .title a:hover {
          text-decoration: underline; }
    .request .right .children h3, .neighbor .right .children h3 {
      margin: 0;
      font-size: 1.3em; }
    .request .right .children .child, .neighbor .right .children .child {
      margin: 5px 0 5px 30px;
      width: 100%; }
      .request .right .children .child h3, .neighbor .right .children .child h3 {
        font-size: 1.1em;
        padding: 0;
        margin: 0;
        float: left; }
      .request .right .children .child .value, .neighbor .right .children .child .value {
        padding: 0;
        font-size: 1.2em;
        margin-left: 0.4em;
        float: left;
        vertical-align: bottom; }
  .request .tools, .neighbor .tools {
    float: right;
    z-index: 2; }
    .request .tools .volunteer-button, .neighbor .tools .volunteer-button {
      float: right;
      margin-top: 10px; }
      .request .tools .volunteer-button #delete, .neighbor .tools .volunteer-button #delete {
        float: right;
        margin-left: 20px; }
    .request .tools .delete, .neighbor .tools .delete {
      text-align: center;
      float: right;
      width: 20px;
      height: 20px;
      z-index: 5; }
      .request .tools .delete span, .neighbor .tools .delete span {
        display: none; }
    .request .tools .subnav ul, .neighbor .tools .subnav ul {
      list-style-type: none;
      margin-top: 20px;
      display: none;
      position: absolute;
      z-index: 4;
      background: #eeeeee;
      border: 1px solid;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-box-shadow: 2px 2px 4px #555555; }
      .request .tools .subnav ul a, .neighbor .tools .subnav ul a {
        background: none !important;
        border: none !important; }
      .request .tools .subnav ul li, .neighbor .tools .subnav ul li {
        margin-right: 30px;
        padding: 0.2em; }
  .request .clear, .neighbor .clear {
    clear: both; }

#commit-container {
  width: 100%;
  text-align: right;
  font-weight: bold;
  font-size: 1em;
  padding: 1em 1em 1em 0;
  background: white;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  radius: 10px; }
  #commit-container h2 {
    font-size: 1.3em; }
  #commit-container #commitments #no-commitment {
    font-size: 1em;
    color: #aaaaaa;
    font-style: oblique;
    font-weight: normal;
    padding: 0.5em; }
  #commit-container #commitments .confirmed-request {
    font-weight: none;
    font-size: 0.9em;
    border-bottom: 3px double #eeeeee;
    margin-bottom: 1em;
    margin-left: 30px;
    padding: 0.5em;
    text-align: left; }
    #commit-container #commitments .confirmed-request .link {
      text-align: right;
      margin-top: 5px;
      margin-bottom: 10px; }
  #commit-container #pending #no-pending {
    font-size: 1em;
    color: #aaaaaa;
    padding: 0.5em;
    font-weight: normal;
    font-style: oblique; }
  #commit-container #pending .pending-request {
    font-weight: none;
    font-size: 0.9em;
    border-bottom: 3px double #eeeeee;
    margin-bottom: 1em;
    padding: 0.5em;
    text-align: left;
    margin-left: 30px; }
    #commit-container #pending .pending-request .link {
      text-align: right;
      margin: 5px 0 10px 0; }

input[type="text"], input[type="password"], textarea {
  border: 1px solid #878c6d;
  padding: 0.2em; }

#main {
  height: 100px;
  background-color: white; }

#video {
  width: 425px;
  margin: 0px auto 0px auto; }

.center {
  text-align: center; }

#result-container {
  background: white;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 1em 3em 0.3em 1em; }
  #result-container .result {
    border-bottom: 3px double #eeeeee;
    width: 100%;
    margin-bottom: 1em;
    padding: 1em; }
    #result-container .result img {
      max-width: 8%;
      margin: 0.5em 0 0.5em 0;
      float: left; }
    #result-container .result .info {
      width: 60%;
      float: left;
      padding: inherit;
      margin: inherit; }
      #result-container .result .info .name {
        font-size: 1.2em;
        font-weight: bold;
        margin: 0 !important;
        padding: 0 !important; }
        #result-container .result .info .name a {
          padding: inherit;
          margin: inherit;
          padding: 0;
          margin: 0 0 0 -0.2em;
          background: none !important;
          border: 0 !important; }
          #result-container .result .info .name a:hover {
            text-decoration: underline; }
      #result-container .result .info .attributes {
        margin-bottom: 20px; }
        #result-container .result .info .attributes .small-title {
          font-size: 1em;
          font-weight: bold; }
    #result-container .result .button {
      float: right;
      margin-top: 20px; }
      #result-container .result .button #delete {
        margin-left: 20px;
        float: right; }

.neighbor {
  border-bottom: 3px double #cccccc; }
  .neighbor img {
    float: left; }
  .neighbor h2 {
    float: left; }
  .neighbor a {
    border: 0px !important;
    background: none !important; }
    .neighbor a #remove {
      float: right; }

#no-results {
  color: #aaaaaa;
  font-size: 1.2em;
  font-weight: bold;
  margin: 1em 0; }

#num-results {
  margin-left: 40px; }

#delete-account {
  float: right;
  text-align: right; }

#hidden-requests-container {
  width: 47%;
  float: right;
  padding: 10px;
  background-color: white;
  margin: 20px 0 0 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  radius: 5px;
  border: 1px solid #aaaaaa; }
  #hidden-requests-container .hidden-title {
    margin: 20px 0px 20px 20px;
    font-size: 1.4em;
    font-style: italic;
    color: #aaaaaa; }
  #hidden-requests-container .title {
    text-align: center; }
  #hidden-requests-container .hidden-household {
    width: 80%;
    margin-bottom: 20px;
    margin-left: 40px;
    border-bottom: 3px double #eeeeee;
    padding: 1em; }
    #hidden-requests-container .hidden-household .photo {
      float: left; }
      #hidden-requests-container .hidden-household .photo img {
        width: 40px;
        height: 40px; }
    #hidden-requests-container .hidden-household .household {
      float: left;
      margin-left: 15px; }
    #hidden-requests-container .hidden-household .button {
      float: right; }
    #hidden-requests-container .hidden-household .clear {
      clear: both; }

#user-household-info {
  float: left;
  width: 46%;
  padding: 10px 20px 10px 10px;
  margin: 20px 0 0 0;
  background-color: white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  radius: 5px;
  border: 1px solid #aaaaaa; }
  #user-household-info input[type="text"], #user-household-info input[type="password"] {
    width: 50%;
    padding: 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    radius: 3px;
    font-size: 14px; }
  #user-household-info input[type="submit"] {
    display: none; }
  #user-household-info .setting {
    margin: 0;
    clear: both;
    text-align: left; }
  #user-household-info .small-title {
    font-size: 14px;
    padding: 10px;
    font-weight: bold;
    float: left;
    width: 30%;
    text-align: right; }
  #user-household-info .text {
    font-size: 14px;
    padding: 10px;
    float: right;
    width: 60%; }
  #user-household-info .edit {
    font-weight: normal;
    clear: both; }
  #user-household-info #edit-user, #user-household-info #edit-household, #user-household-info #edit-address {
    float: right; }
  #user-household-info strong {
    clear: both;
    text-align: left;
    font-size: 1.6em; }
  #user-household-info div {
    margin-bottom: 5px; }
  #user-household-info #subtitle {
    font-size: 0.7em; }
  #user-household-info #change-password {
    display: none;
    margin-bottom: 10px;
    float: left; }
  #user-household-info #new-password {
    display: none; }
  #user-household-info #password-confirmation {
    display: none; }
  #user-household-info #show-more {
    display: none;
    margin-bottom: 10px; }
  #user-household-info #last-name {
    display: none; }
  #user-household-info #DOB {
    display: none; }
  #user-household-info #allergies {
    display: none; }
  #user-household-info #medications {
    display: none; }
  #user-household-info #notes {
    display: none; }
  #user-household-info #user {
    width: 100%;
    margin-bottom: 30px; }
    #user-household-info #user #change-password {
      margin-top: 10px; }
      #user-household-info #user #change-password a {
        border: 1px solid #aaaaaa !important;
        background: #eeeeee !important;
        color: #878c6d;
        padding: 0.2em;
        -moz-border-radius: 0.3em;
        -webkit-border-radius: 0.3em; }
        #user-household-info #user #change-password a:hover {
          border: 1px solid #777777;
          text-decoration: none; }
  #user-household-info #household {
    width: 100%; }
    #user-household-info #household .indent {
      margin-left: 20px; }
    #user-household-info #household #household-title {
      margin-left: 15%;
      font-style: italic;
      font-weight: bold;
      margin-bottom: 20px; }
    #user-household-info #household #change-photo {
      margin-top: 10px; }
      #user-household-info #household #change-photo a {
        border: 1px solid #aaaaaa !important;
        background: #eeeeee !important;
        color: #878c6d;
        padding: 0.2em;
        -moz-border-radius: 0.3em;
        -webkit-border-radius: 0.3em; }
        #user-household-info #household #change-photo a:hover {
          border: 1px solid #777777;
          text-decoration: none; }
  #user-household-info #children {
    width: 100%;
    margin-bottom: 30px; }
    #user-household-info #children #show-more {
      margin-top: 10px; }
      #user-household-info #children #show-more a {
        border: 1px solid #aaaaaa !important;
        background: #eeeeee !important;
        color: #878c6d;
        padding: 0.2em;
        -moz-border-radius: 0.3em;
        -webkit-border-radius: 0.3em; }
        #user-household-info #children #show-more a:hover {
          border: 1px solid #777777;
          text-decoration: none; }
    #user-household-info #children .tools {
      display: none; }
  #user-household-info #address {
    width: 100%;
    margin-bottom: 30px; }
  #user-household-info #contacts {
    width: 100%;
    margin-bottom: 30px; }

.clear {
  clear: both; }

#child-container {
  float: left;
  width: 70%;
  padding: 0.5em; }
  #child-container .child_view {
    border-bottom: 3px double #eeeeee;
    margin-bottom: 1em;
    padding: 0.5em;
    padding-right: 0 !important;
    padding-bottom: 1.5em !important;
    width: 100%; }
    #child-container .child_view .top {
      float: top; }
      #child-container .child_view .top h2 {
        font-size: 1.8em;
        margin: 0 !important;
        padding: 0 !important; }
        #child-container .child_view .top h2 a {
          padding: inherit;
          margin: inherit;
          padding: 0;
          margin: 0 0 0 -0.2em;
          background: none !important;
          border: 0 !important; }
          #child-container .child_view .top h2 a:hover {
            text-decoration: underline; }
    #child-container .child_view .child_view .left {
      float: left; }
      #child-container .child_view .child_view .left .child .left h2 {
        font-size: 3.5em; }

#caregiver-container {
  float: left;
  width: 70%;
  padding: 0.5em; }
  #caregiver-container .caregiver {
    border-bottom: 3px double #eeeeee;
    margin-bottom: 1em;
    padding: 0.5em;
    padding-right: 0 !important;
    padding-bottom: 1.5em !important;
    width: 100%; }
    #caregiver-container .caregiver .top {
      float: top; }
      #caregiver-container .caregiver .top h2 {
        font-size: 1.8em;
        margin: 0 !important;
        padding: 0 !important; }
        #caregiver-container .caregiver .top h2 a {
          padding: inherit;
          margin: inherit;
          padding: 0;
          margin: 0 0 0 -0.2em;
          background: none !important;
          border: 0 !important; }
          #caregiver-container .caregiver .top h2 a:hover {
            text-decoration: underline; }
