.new-forms form {
  border: 1px solid #aaaaaa;
  padding: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  radius: 5px;
  background-color: white;
  color: #333333; }
  .new-forms form h2 {
    font-size: 24px;
    float: left;
    margin: 0;
    font-style: oblique; }
  .new-forms form label {
    width: 40%; }
  .new-forms form input {
    font-size: 14px;
    padding: 10px;
    margin: 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    radius: 3px; }
  .new-forms form textarea {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    radius: 3px; }
  .new-forms form p {
    font-size: 12px;
    clear: both;
    padding: 7px 0 7px 0; }
  .new-forms form #quick-nav {
    float: right;
    padding: 0;
    margin: 0; }
  .new-forms form .clear {
    clear: both; }
  .new-forms form#login-form {
    width: 400px;
    margin: 0 auto 0 auto; }
    .new-forms form#login-form input[type="text"], .new-forms form#login-form input[type="password"] {
      padding: 10px;
      margin: 10px;
      display: block;
      width: 360px;
      color: black; }
    .new-forms form#login-form input[type="submit"] {
      padding: 7px;
      margin: 0 0 0 10px;
      float: left; }
    .new-forms form#login-form #sign-up {
      float: right; }
  .new-forms form#request-form {
    width: 700px;
    margin: 30px auto 0 auto; }
    .new-forms form#request-form p {
      margin: 0; }
    .new-forms form#request-form h3 {
      margin: 0; }
    .new-forms form#request-form .hint {
      width: 100%; }
    .new-forms form#request-form label {
      font-size: 14px;
      text-align: left;
      width: 100%; }
    .new-forms form#request-form input[type="text"] {
      margin: 10px;
      padding: 10px;
      width: 60%; }
    .new-forms form#request-form textarea {
      padding: 10px;
      margin: 10px;
      width: 60%; }
  .new-forms form#signup-process-form {
    width: 700px;
    margin: 30px auto 0 auto; }
    .new-forms form#signup-process-form label {
      float: left;
      width: 250px;
      padding: 17px 10px 10px 10px;
      text-align: right; }
    .new-forms form#signup-process-form input {
      margin: 10px;
      padding: 10px; }
    .new-forms form#signup-process-form input[type="submit"] {
      padding: 7px; }
    .new-forms form#signup-process-form input[type="text"], .new-forms form#signup-process-form input[type="password"] {
      width: 50%; }
    .new-forms form#signup-process-form input[type="file"] {
      padding: 10px;
      max-width: 80%; }
    .new-forms form#signup-process-form textarea {
      padding: 10px;
      margin: 10px;
      width: 50%; }
    .new-forms form#signup-process-form select {
      margin: 15px 10px 10px 10px;
      padding: 5px; }
    .new-forms form#signup-process-form #log-in {
      float: right; }
      .new-forms form#signup-process-form #log-in.button {
        font-size: 14px; }
