#learn_more
  %h2== Learn more.
  #how_it_works=h link_to "How it works", how_it_works_path
  #vision=h link_to "Our Vision", vision_path
  #security=h link_to "Our Security", security_path
  #sign_up=h link_to "Sign up", signup_path
.clear