-title "How it works"

#static_screen_container
  %h1 How It Works

  %h2 Step 1:  Sign up!
  %ul 
    %li Fill out your household profile including each caregiver’s profile, children’s profile and emergency contacts
  %h2 Step 2: Create your personalized village
  %ul
    %li Find neighbors who have already joined Villages through our search page or email your friends and family about our service
  %h2 Step 3: Use credits by posting your Care Request need
  %ul
    %li Post your childcare need – Your need will then be posted to your neighbors’ requests page for them to view and volunteer
    %li Use credits by confirming and accepting a caregiver offer (you may also deny offers)
  %h2 Step 4: Earn credits by volunteering for a neighbor’s Care Request
  %ul
    %li Earn credits by making an offer to fulfill one of your neighbors requests
    %li Earned credits will be awarded after childcare has occurred and you have confirmed final details


=render :partial => 'learn_more'
