- content_for :title do
  Welcome to Villages!

#video
  Video goes here

#learn_more
  %h2== Learn more.
  #vision=h link_to "Our Vision", vision_path
  #security=h link_to "Our Security", security_path
  #sign_up=h link_to "Sign up", signup_path
.clear

