- content_for :title do
  Welcome to Villages!
#tag_line
  It takes a village to raise a child.
#video
  %iframe{:src => "http://player.vimeo.com/video/7286652?title=0&amp;byline=0&amp;portrait=0&amp;color=", :width => "600", :height => "340", :frameborder => "0"}

= render :partial => 'learn_more'

