- content_for :title do 
  Welcome to Villages!

#video
  <iframe width="600" height="450" src="http://www.youtube.com/embed/yZDbLnidtE8" frameborder="0" allowfullscreen></iframe>
  
#learn_more
  %h2== Learn more.
  #vision=h link_to "Our Vision"
  #security=h link_to "Our Security"
  #sign_up=h link_to "Sign up"
