-title "Our Security"

#content
  %h1 Our Security.

  %p 
    We do our best to keep Villages safe, but we cannot guarantee it. We need your help to do that, which includes the following commitments: 
    %p{:style => "padding: 0 0 0 20px"} 
      Villages is not trying to reinvent the basic premise of a babysitting co-op or micromanage the process.  Therefore there will always be an element of trust and integrity of both parties which is why it is so important for everyone to be very conscience of who they accept as neighbors.  All caregivers from each household in which you agree to be part of your village will be able to have access to all of your household information, including, but not limited to your children’s names, birthdates, address, and phone numbers.  Only invite and accept into your village those households in which you trust with this information.
    %p{:style => "padding: 0 0 0 20px"}  
      Those individuals who have signed up for Villages service and are associated with a household may search for Neighbors but will only be provided your household name, caregivers names,  city,  state and picture (if provided by you).


= render :partial => 'learn_more'

