-title "Our vision"

#content
  %h1 Our vision.

  %p
    Villages aims to provide your family with a centralized, organized, safe, secure, cost efficient, simple, and efficient way to manage your unique childcare needs. Through our “social bookkeeping” tools we hope to help provide for your family a more fulfilling and less stressful atmosphere.

= render :partial => 'learn_more'

