- title "Edit Address"

- content_for :header do
  #quick-nav
    = link_to "<span class='leftarrow icon'></span>Back to profile", members_profile_path, :class => 'pill button'
  %h2 Edit your primary address
  %p This is the primary address that is displayed on your profile page so the neighbors in your network can locate your household. You can also #{link_to "view this address", members_addresses_path(@address)}.
.new-forms
  = render :partial => 'form'
