- title "Requests"
%p= link_to "+ Create a New Care Request", new_members_request_path
- for request in @requests
  -unless request.household == current_user.household
    .request
      %img
      .left
        %h2#name=link_to "#{request.household}", members_request_path(request)
        %h2#household household
      .right
        .date
          =h request.start_time.to_s(:nicetime)
          to
          =h request.end_time.to_s(:nicetime)
          on
          =h request.from_date.to_s(:short)
        .cost
          Credits:
          =h request.cost
      .tools
        %span= link_to "Volunteer", '#'
      .clear

