- title "Request"
%p
  %strong From:
  =h @request.from_date.to_s(:short)
  at
  =h @request.start_time.to_s(:justTime)
%p
  %strong To:
  =h @request.to_date.to_s(:short) 
  at
  =h @request.end_time.to_s(:justTime)
%p
  %strong Cost:
  = h @request.cost
%p
  = link_to "Edit", edit_members_request_path(@request)
  |
  = link_to "Destroy", members_request_path(@request), :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", members_requests_path
