-title "Neighbors"
%h1 All of My Neighbors
%br
  - for neighbor in @neighbors
    .neighbor
      = link_to image_tag(neighbor.neighbor.photo.url, :alt => "#{current_user.household.to_s}", :width => 60, :height => 60), members_household_url(neighbor.neighbor)
      .left
        %h2.name=link_to neighbor.neighbor, members_household_url(neighbor.neighbor)
        %h2.household Household
      .right

        .phone
          - for user in neighbor.neighbor.users
            .user
              Caregiver(s): 
              .user_name 
                =h user.first_name 
                =h user.last_name
              .phone
                Phone:
                =h number_to_phone(user.phone)
      .exit
        =link_to 'x', members_neighbor_path(neighbor.neighbor), :title => 'remove from my neighbors', :confirm => "Are you sure?", :method => :delete
      .clear
