-title "Neighbors"
%h1 All of My Neighbors
%br
  - for neighbor in @neighbors
    .neighbor
      .image= image_tag(neighbor.neighbor.photo.url, :alt => "#{current_user.household.to_s}")
      .left
        %h2.name=neighbor.neighbor
        %h2.household Household
      .right
        = pluralize neighbor.neighbor.children.count, "Child"
        %br
        = pluralize neighbor.neighbor.users.count, "Caregiver"
        - for user in neighbor.neighbor.users
          .user
            .user_name
              %strong Caregiver:  
              =h user.first_name 
              =h user.last_name
            .phone
              %strong Phone:
              =h number_to_phone(user.phone, :area_code => true)
            .email
              %strong Email:
              =h user.email
      .exit
        =link_to 'x', members_neighbor_path(neighbor.neighbor), :title => 'remove from my neighbors', :confirm => "Are you sure?", :method => :delete
      .clear
