-title "My Neighbors"

- if Neighbor.can_render?(@pending_neighbors)
  = render :partial => "members/neighbors/neighbors", :locals => { :neighbors => @pending_neighbors, :neighbor_view_type => 'pending', :neighbor_view_type_msg => 'My Pending Neighbor Requests'}
- if Neighbor.can_render?(@neighbor_requests)
  = render :partial => "members/neighbors/neighbors", :locals => { :neighbors => @neighbor_requests, :neighbor_view_type => 'request', :neighbor_view_type_msg => 'My Neighbor Requests'}

- if Neighbor.can_render?(@neighbors)
  = render :partial => "members/neighbors/neighbors", :locals => { :neighbors => @neighbors, :neighbor_view_type => 'neighbor', :neighbor_view_type_msg => 'My Neighbors'}
- else
  %p
  #request-container
    %h2
      %span#red You do not have any neighbors. 
    %h3 You can check above to see if you have any pending requests or new neighbor requests.
    %h3 Also, you can add them by searching for households by their name or you can search for users by either their phone number or email.
%p
= link_to "<span class='magnifier icon'></span>Find neighbors", members_search_path, :class => 'pill button'
