- title "Requests"
- for request in @requests
  .request
    %img
    -#%h2=h request.household.name
    %h2 household title here
    .date=h request.date
    .start_time=h request.start_time
    .end_time=h request.end_time
    .cost=h request.cost
    .tools
      %span= link_to "Show", admin_request_path(request)
      %span= link_to "Edit", edit_admin_request_path(request)
      %span= link_to admin_request_path(request), :confirm => 'Are you sure?', :method => :delete
    .clear .
%p= link_to "New Request", new_admin_request_path

