- title "Edit this caregiver"

#request-container
  %h1 Edit this caregiver

  = render :partial => 'form'

  %p
    = link_to "<span class='home icon'></span>Back to Household", members_profile_path, :class => "pill button"
