#hidden-requests-container
  %h2.title Hidden Requests
  - if @hidden_requests.count > 0
    %h4 You have chosen to hide these requests

  - for hidden_request in @hidden_requests
    = hidden_request.request.household
    = link_to 'x', {:controller => 'settings', :action => 'destroy', :id => hidden_request.id}, :confirm => 'Are you sure?', :method => :delete
    %br

  - if @hidden_household_requests.count > 0
    %h2 You have chosen to hide requests from these households

  -for hidden_household_request in @hidden_household_requests
    = find_hidden_household(hidden_household_request)
    = link_to 'x', {:controller => 'settings', :action => 'destroy', :id => hidden_household_request.id}, :confirm => 'Are you sure?', :method => :delete
    %br