- form_tag members_search_path, :method => 'get' do
          = text_field_tag :search, params[:search], default_text("search for a neighbor... ")
          = submit_tag "Search", :name => nil
-# form_tag members_search_path, :method => 'get' do
-#          = text_field_tag :search, params[:search], default_text("search by email...")
-#          = submit_tag "Search", :na-#me => nil
-# form_tag members_search_path, :method => 'get' do
-#          = text_field_tag :search, params[:search], default_text("search by phone...")
-#          = submit_tag "Search", :name => nil