- title "Edit Emergency Contacts"

-content_for :header do
  #quick-nav
    = link_to "<span class='leftarrow icon'></span>Back to profile", members_profile_path, :class => 'pill button'
  %h2 Edit an Emergency contact
  %p This contact information will be given out to neighbors that you have chosen to watch your kids. You can #{link_to 'view all your emergency contacts', members_emergency_contacts_path} as well.
.new-forms
  = render :partial => 'form'

