- title "Add Emergency Contact"

-if EmergencyContact.find(:all, :conditions => {:household_id => current_user.household_id}).count < 1
  #profile_notice
    %h3 Step 5 of 5
    Please enter as many emergency contacts as you wish.  These will be provided to caregivers each time you request care.  In addition to friends and family, you may want to also provide contact information for your family medical caregivers (doctor, dentist, etc.)
- content_for :header do
  - if EmergencyContact.find(:all, :conditions => {:household_id => current_user.household_id}).count >= 1
    #quick-nav
      = link_to "<span class='leftarrow icon'></span>Back to household", members_profile_path, :class => 'pill button'
  %h2 Add an Emergency contact
  %p This contact information will be given out to neighbors that you have chosen to watch your kids. You can #{link_to 'view all your emergency contacts', members_emergency_contacts_path} as well.
.new-forms
  = render :partial => 'form'