- title "New Emergency Contact"

#profile_notice
  %h3 Step 5 of 5
  Enter some emergency contacts.

= render :partial => 'form'
%p= link_to "Back to all emergency contacts", members_emergency_contacts_path